@keyframes slideUp {
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1; } }

@keyframes slideUp {
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1; } }

input, select, textarea {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 35px 8px 12px;
  overflow: hidden;
  border: 2px solid;
  border-radius: 3px;
  outline: none;
  background: #f1f1f1;
  color: #2f3950;
  font-family: "MuseoSans";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-color: #f1f1f1; }
  input.required, select.required, textarea.required {
    border-color: #ce5050;
    color: #ce5050; }
    input.required::placeholder, select.required::placeholder, textarea.required::placeholder {
      color: #ce5050; }
    input.required:focus, select.required:focus, textarea.required:focus {
      border-color: #ce5050; }
  input::placeholder, select::placeholder, textarea::placeholder {
    color: #bfbfbf; }
  input:focus, select:focus, textarea:focus {
    border-color: #01a14c; }
  input::placeholder, select::placeholder, textarea::placeholder {
    transition: transform 0.6s ease, opacity 0.6s ease; }
  input:focus::placeholder, select:focus::placeholder, textarea:focus::placeholder {
    transform: translateX(-100%);
    transition-duration: 1.2s;
    opacity: 0; }

input[type='password'].required {
  position: relative;
  margin-bottom: 6px; }
  input[type='password'].required input, input[type='password'].required select, input[type='password'].required textarea {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 35px 8px 12px;
    overflow: hidden;
    border: 2px solid;
    border-radius: 3px;
    outline: none;
    background: #f1f1f1;
    color: #2f3950;
    font-family: "MuseoSans";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: #ce5050;
    color: #ce5050; }
    input[type='password'].required input::placeholder, input[type='password'].required select::placeholder, input[type='password'].required textarea::placeholder {
      color: #ce5050; }
    input[type='password'].required input:focus, input[type='password'].required select:focus, input[type='password'].required textarea:focus {
      border-color: #ce5050; }
    input[type='password'].required input::placeholder, input[type='password'].required select::placeholder, input[type='password'].required textarea::placeholder {
      transition: transform 0.6s ease, opacity 0.6s ease; }
    input[type='password'].required input:focus::placeholder, input[type='password'].required select:focus::placeholder, input[type='password'].required textarea:focus::placeholder {
      transform: translateX(-100%);
      transition-duration: 1.2s;
      opacity: 0; }
  input[type='password'].required input ~ svg {
    position: absolute;
    top: 0;
    right: 12px;
    width: 20px;
    height: 36px;
    margin: 0;
    transition: right 0.3s ease;
    fill: #ce5050;
    pointer-events: none; }
  input[type='password'].required input:focus ~ svg {
    right: 18px;
    fill: #ce5050; }

.form-field {
  display: block;
  width: 100%; }



.checkboxBox {
  vertical-align: bottom;
  margin-bottom: 7px;
  padding-left: 6px; }

.input-checkbox {
  position: relative;
  margin-bottom: 6px;
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
  padding-top: 4px; }
  .input-checkbox input, .input-checkbox select, .input-checkbox textarea {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 35px 8px 12px;
    overflow: hidden;
    border: 2px solid;
    border-radius: 3px;
    outline: none;
    background: #f1f1f1;
    color: #2f3950;
    font-family: "MuseoSans";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: #f1f1f1; }
    .input-checkbox input::placeholder, .input-checkbox select::placeholder, .input-checkbox textarea::placeholder {
      color: #bfbfbf; }
    .input-checkbox input:focus, .input-checkbox select:focus, .input-checkbox textarea:focus {
      border-color: #01a14c; }
    .input-checkbox input::placeholder, .input-checkbox select::placeholder, .input-checkbox textarea::placeholder {
      transition: transform 0.6s ease, opacity 0.6s ease; }
    .input-checkbox input:focus::placeholder, .input-checkbox select:focus::placeholder, .input-checkbox textarea:focus::placeholder {
      transform: translateX(-100%);
      transition-duration: 1.2s;
      opacity: 0; }
  .input-checkbox input[type='checkbox'] {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: 1px solid #bfbfbf;
    background: white; }
    .input-checkbox input[type='checkbox']:checked {
      border-color: #01a14c;
      background: #01a14c; }
  .input-checkbox label {
    display: inline-block;
    padding-left: 8px;
    color: #445368;
    font-weight: 500; }
    .input-checkbox label::before {
      content: '';
      display: none;
      position: absolute;
      top: 11px;
      left: 5px;
      width: 12px;
      height: 5px;
      transform: rotate(-45deg);
      border-bottom: 2px solid white;
      border-left: 2px solid white; }
  .input-checkbox input[type='checkbox']:checked ~ label::before {
    display: block; }

.input-checkbox-required {
  position: relative;
  margin-bottom: 6px;
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
  padding-top: 4px; }
  .input-checkbox-required input, .input-checkbox-required select, .input-checkbox-required textarea {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 35px 8px 12px;
    overflow: hidden;
    border: 2px solid;
    border-radius: 3px;
    outline: none;
    background: #f1f1f1;
    color: #2f3950;
    font-family: "MuseoSans";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: #ce5050;
    color: #ce5050; }
    .input-checkbox-required input::placeholder, .input-checkbox-required select::placeholder, .input-checkbox-required textarea::placeholder {
      color: #ce5050; }
    .input-checkbox-required input:focus, .input-checkbox-required select:focus, .input-checkbox-required textarea:focus {
      border-color: #ce5050; }
    .input-checkbox-required input::placeholder, .input-checkbox-required select::placeholder, .input-checkbox-required textarea::placeholder {
      transition: transform 0.6s ease, opacity 0.6s ease; }
    .input-checkbox-required input:focus::placeholder, .input-checkbox-required select:focus::placeholder, .input-checkbox-required textarea:focus::placeholder {
      transform: translateX(-100%);
      transition-duration: 1.2s;
      opacity: 0; }
  .input-checkbox-required input[type='checkbox'] {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: 1px solid #bfbfbf;
    background: white;
    border-color: #ce5050; }
    .input-checkbox-required input[type='checkbox']:checked {
      border-color: #ce5050;
      background: #ce5050; }
  .input-checkbox-required label {
    display: inline-block;
    padding-left: 8px;
    color: #445368;
    font-weight: 500;
    color: #ce5050; }
    .input-checkbox-required label::before {
      content: '';
      display: none;
      position: absolute;
      top: 11px;
      left: 5px;
      width: 12px;
      height: 5px;
      transform: rotate(-45deg);
      border-bottom: 2px solid white;
      border-left: 2px solid white; }
  .input-checkbox-required input[type='checkbox']:checked ~ label::before {
    display: block; }

.input-checkbox-toggle {
  display: inline-block;
  position: relative;
  margin-left: 10px; }
  .input-checkbox-toggle .toggle {
    display: block;
    width: 32px;
    height: 16px;
    margin: 0;
    padding: 0; }
    .input-checkbox-toggle .toggle span {
      position: absolute;
      top: 7px;
      right: 0;
      bottom: 0;
      left: 4px;
      height: 10px;
      transition: 0.4s;
      border-radius: 5px;
      background-color: #bfbfbf;
      text-indent: -9999px;
      cursor: pointer; }
      .input-checkbox-toggle .toggle span::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -2px;
        width: 16px;
        height: 16px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 50%;
        background-color: #f1f1f1;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1); }
    .input-checkbox-toggle .toggle input[type='checkbox'] {
      display: none; }
      .input-checkbox-toggle .toggle input[type='checkbox']:checked ~ span {
        background-color: #79d2a2; }
        .input-checkbox-toggle .toggle input[type='checkbox']:checked ~ span::before {
          transform: translateX(16px);
          background-color: #01a14c; }

h4 {
  display: inline-block;
  padding-right: 15px;
  margin-bottom: 6px; }
