<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <style type="text/css">


.navbar{
    display: block;
    width:100%;
    height:60px;
    background-color:#4db6ac;

    color:#fff
}
.navbar-wrapper{
    padding: 0 15px;
}
.navbar a{
    color:#fff
}

.logo{ width:54px; height:50px; margin-top:5px; }
.brandname{font-size: 24px;line-height:60px;display: inline-block; vertical-align: bottom;}
.brandname img{ width:50px}
.email-content{
    min-height:300px;
}
</style>


</head>
<body>
<div class="navbar">
    <div class="navbar-wrapper">

        <div class="left">
            <a>
                <div class="brandname">
                    <img src="/static/reactLogo.jpeg" />
                </div>
            </a>
        </div>
    </div>
</div>