<% include ../header.ejs %>

<div class="email-content">
    <div class="center">
        <p>Use this link to activate:</p>
        <p><a class="btn" href="<%= url %>">Activate</a></p>
    </div>
</div>


</body>
